<div
  [ngClass]="{ 'blur-container' : shouldAddNewTicket }"
  class="container">
  <div>
    <div class="ticket-header">
      <div class="ticket-header__column firstIndex"></div>
      <div
        *ngFor="let header of headers; let i = index" 
        class="ticket-header__column {{ i === 0 ? 'titleDiv' : ''}}">{{ header.name | uppercase }}</div>
        <div
          (click)="createTicketForm()"
          class="add-ticket">+</div>
    </div>

      <ticket
        *ngFor="let ticket of tickets; let ticketIndex = index;"
        [headers]="headers"
        [ticket]="ticket"
        [boardTitle]="boardInformation.boardTitle"
        (updateTicket)="createTicketForm(ticketIndex)"
      ></ticket>

  </div>
</div>

<new-ticket-drawer
  *ngIf="shouldAddNewTicket"
  [shouldAddNewTicket]="shouldAddNewTicket"
  [ticket]="newTicket"
  [properties]="boardInformation.properties"
  (addTicket)="addTicket($event)"
  (onClose)="shouldAddNewTicket = false"
></new-ticket-drawer>
